nav{
    display: flex;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 3rem;
}
.logo h3{
    font-family: "Merienda", cursive;
    font-weight: bold;
    color: white;
}
.links{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.links a{
    color: white;
    font-size: 2rem;
}
@media only screen and (width<=600px){
    nav {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}